*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Topico{
    /* margin: 0 auto; */
    margin-bottom: 20px;
    margin-top: 40px;
   width: 400px;  
  /* height: 120px; */
  /* background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; */
  border-bottom-style: ridge ;
 
}
 header {
  background-color: #4e7783;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }
   footer{
    margin-top: 400px;
   }

 .topicoM > h4{
  text-align: center;
  /* margin-top: -40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: azure;
   opacity: 1;

   }

.body1{
margin: auto;
text-align: center;
/* }
.btnMenu{
  font-size: 50px;
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  position: absolute;
    margin: 20px;
  padding: 10px 20px;

} */
/* .menu{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
  
}

.btnMenu:hover{
    scale: 1.05;
    color: aliceblue; */
   
}
/* --------------- */
/* .sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #578ac5;
  color: white;
  transition: left 0.3s ease;
  padding-top: 20px;
}

.sidebar.active {
  left: 0;
}

.sidebtns{

} */

.hide{
  display: none !important
}

.visible{
  display: flex !important;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
}

#quiz button {
    width: 200px;
    height: 85px;
    cursor: pointer;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

#quiz button:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

#quiz button:active {
    transform: scale(0.98);
}

#quiz p {
    margin: 0;
    color: rgb(14, 11, 58);
    font-weight: bold;
    text-align: center;
}



.opcion img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

  h1{
      display: flex;
    justify-content: center;
    align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 50px;
    font-size: 50px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    color: #4e7783;
  }

  .opcionReinicio{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
  }

  .opcionReinicio button{
     width: 200px;
    height: 85px;
    cursor: pointer;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .opcionReinicio button:hover{
        transform: translateY(-10px) scale(1.05);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }

.opcionReinicio button:active{
    transform: scale(0.98);
}

.opcionReinicio{
  display: none;
}

#layout21{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 180px;
  align-items: center;
}
#teste21{
  display: flex;
  flex-direction: row;
  gap: 70px;
}


/* .tela{
  display: none;
}

.ativa{
  display: block; 
} */
