*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Topico{
    /* margin: 0 auto; */
    margin-bottom: 20px;
    margin-top: 40px;
   width: 400px;  
  /* height: 120px; */
  /* background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; */
  border-bottom-style: ridge ;
 
}
 header {
  background-color: #4e7783;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }
   footer{
    margin-top: 1000px;
   }

 .topicoM > h4{
  text-align: center;
  /* margin-top: -40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: azure;
   opacity: 1;

   }

.body1{
margin: auto;
text-align: center;
}
.btnMenu{
  font-size: 50px;
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  position: absolute;
    margin: 20px;
  padding: 10px 20px;

}
.menu{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
  
}

.btnMenu:hover{
    scale: 1.05;
    color: aliceblue;
   
}
/* --------------- */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  color: white;
  transition: left 0.3s ease;
  padding-top: 20px;
}

.sidebar.active {
  left: 0;
}
